



/* Divisões laterais */
.header-left,
.header-right {
  flex: 1;
  display: flex;
  align-items: center;
}

/* Logo alinhado à esquerda */
.header-left {
  justify-content: flex-start;
}

/* Menu central */
.header-center {
  flex: 2;
  display: flex;
  justify-content: center;
  gap: 40px;
}

/* Estilo dos links */
.header-center a {
  text-decoration: none;
  font-weight: bold;
  color: #b386ce;
  transition: color 0.3s;
}

.header-center a:hover {
  color: #e91e63;
}

/* Ícones alinhados à direita */
.header-right {
  justify-content: flex-end;
  gap: 20px;
}

/* Estilo padrão para os ícones */
.icone img {
  width: 40px;
  height: 40px;
  transition: transform 0.3s ease;
}

.icone img:hover {
  transform: scale(1.1);
}