/* Fundo geral da página */
body {
  margin: 0;
  padding: 0;
  background-color: #ffeef3; /* rosa bem claro */
  font-family: Arial, sans-serif;
}


.App-header {
  display: flex;
  justify-content: space-evenly; 
  align-items: center;
  background-color: white;
  height: 60px;
  box-shadow: 0 2px 4px #cdb4db;
  padding: 0 20px;
}

/* Ícones do menu */
.icones {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center;
}

.icone img {
  width: 42px;
  height: 42px;
  transition: transform 0.3s ease;
}

.icone img:hover {
  transform: scale(1.1);
}

.App-header > div {
  margin-left: 20px;
  font-size: 16px;
  color: #cdb4db;
  font-weight: bold;
  cursor: pointer;
}

.App-header > div:hover {
  color: #e91e63;
}